<h1>投稿が完了しました</h1>
<hr>
<h3>名前</h3>
<p><%= @user.family_name %><%= @user.first_name %>さん</p>
<h3>内容</h3>
<%= @post.content %>
<h3>場所</h3>
<%= @post.place %>
<hr>
<a href="/posts" class="btn btn-info">トップに戻る</a>
